*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: black;
}
.main{
    position: relative;
}
.main h1{
    color: aliceblue;
    text-align: center;
    padding: 30px 0;
}
.main .tictactoe{
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.main  .tictactoe button{
    height: 180px;
    width: 180px;
    background: aliceblue;
        border-radius: 5px;
        box-shadow: 0 0 2px white;
        font-size: 100px;
    
}
.main .reset{
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 20px 50px;
    background: aliceblue;
    border-radius: 5px;
}