*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.clock{
    background: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    height: 12%;
    display: grid;
    place-content: center;
}
.text:hover{
    scale: 1.08;
    color: rgb(233, 127, 78);
}
.clockcontainer{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    place-content: center;
    
    padding-top: 15%;
    gap: 6%;

}
.box{
    height: 150px;
    width: 150px;
    background: black;
    border-radius: 9px;
    color: aliceblue;
    display: grid;
    place-content: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
}
.hours::before{
    content: "Hours";
    font-size: 35px;
    position: absolute;
    top: -35%;
    left: 17%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.minutes::before{
    content: "Minutes";
    font-size: 35px;
    position: absolute;
    top: -35%;
    left: 7%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.seconds::before{
    content: "Seconds";
    font-size: 35px;
    position: absolute;
    top: -35%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.date::before{
    content: "Date";
    font-size: 35px;
    position: absolute;
    top: -35%;
    left: 25%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}
.box:hover{
    background: white;
    color: black;
}
.date:hover::before{
  scale: 1.1;
}
.hours:hover::before{
    scale:1.1

}
.minutes:hover::before{
    scale:1.1}
.seconds:hover::before{
   scale: 1.1;

}
.creator{
    position: absolute;
    top: 90%;
    left: 75%;
    background: black;
    color: whitesmoke;
    padding: 16px 35px;
    border: 4px solid;
  
    border-image: linear-gradient(to right , red , blue)1;
    
  

}
.creator:hover{
    scale: 1.05;
    cursor: pointer;
  \
}
a{
    color: aliceblue;
    text-decoration: none;
   
}