*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
.you{margin: 30px 0;

}
.box{
   padding-bottom: 10px;
}
.container
{
    background: black;
    color: white ;
    width: 30%;
    padding: 20px 20px 10px 20px;
    display: grid;
    grid-template-rows: 30px 0fr;
    transition: 1s all ease;
}
.box2{
    overflow: hidden;
    text-align: left;
}
.container:hover {
    grid-template-rows: 30px 1fr;
    padding: 40px 30px 40px 30px;
}